@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rajdhani&display=swap');

body {
    font-family:'Rajdhani', sans-serif;
    background-color: #BE5A83;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo     {
    font-family:'Lilita One', cursiva;
    color: whitesmoke;
    font-size: 65px;
    
    
}

.subtitulo {
    color: whitesmoke;
    font-size: 30px;


}

.tarjetas {
    display: flex;

}
.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #F2B6A0;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BE5A83;
    font-size: 20px;
}
 
.tarjeta-de-mokepon img {
    width: 92px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    background: cornflowerblue;
    padding: 4px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid purple;
    border-radius: 20px;
    font-family:'Rajdhani', sans-serif;
    font-size: 24px;
}

input {
    display: none;    
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color:#F2B6A0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 60px;
    border: 1px solid hotpink;
    width: 180px;
    font-size: 28px;
    color: #BE5A83;;
    font-family:'Rajdhani', sans-serif;
}